.menu {
  padding-left: 91px;
  padding-right: 20px;
  padding-top: 3px;
  .menu__toggle {
    display: none;
    opacity: 0;
  }

  .menu__list	{
    display: flex;
    flex-direction: row;
    column-gap: 38.7px;
    .menu__item {
      display: block;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 0;
        background-color: #2155CF;
        visibility: hidden;
        position: absolute;
        border: 1.4px solid #2155CF;
        transition: width 0.8s;
      }
      &:hover {
        &:after {
          visibility: visible;
          width: 100%;
        }
      }

    }

    .menu__link {
      font-family: 'Proxima Nova Regular', sans-serif;
      color: #001237;
      line-height: 1.25rem;
      font-size: 1rem;
    }
  }
}
.burger {
  display: flex;
  .menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 1;
    width: 30px;
    height: 26px;
    cursor: pointer;

  }
  .menu__btn > span {
    position: relative;
    width: 30px;
    height: 2px;
    background-color: #616161;

  }
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__list {
    position: absolute;
    visibility: hidden;
    top: 90px;
    height: fit-content;
    left: -100%;
    width: 100%;
    margin: 0;
    bottom: -5px;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ffff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  .menu__link {
    display: block;
    padding: 12px 24px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Montserrat Regular', sans-serif;
    color: #001237;
    line-height: 1.25rem;
    font-size: 1rem;
    &:hover {
      transform: scale(1.2);
    }
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  .menu__toggle {
    display: none;
  }
  .menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    transition: all .3s ease-in-out .2s;

  }
  .menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    transition: all .1s ease-in-out .1s;

  }
  .menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    transition: all .3s ease-in-out .2s;


  }
  .menu__toggle:checked ~ .menu__list {
    visibility: visible;
    left: 0;
    top: 105px;
    transition: top .6s ease-out .5s;

  }
}



@media (max-width: 1560px) {
  .menu {
    padding-left: 30px;
    .menu__list	{
      column-gap: 25px;
      .menu__item {
        &:hover {
          &:after {
            visibility: visible;

            width: calc(100% - 30px);

          }
        }

        &:nth-child(1) {
          &:hover {
            &:after {
              width: calc(100% - 15px);
            }
          }
        }
        &:nth-child(6) {
          &:hover {
            &:after {
              width: calc(100% - 15px);
            }
          }
        }

      }

    }
  }
}
@media (max-width: 1350px) {
  .menu {
    padding-left: 0;
    .menu__list	{
      column-gap: 15px;
      .menu__item {
        &:hover {
          &:after {
            visibility: visible;

            width: calc(100% - 20px);

          }
        }

        &:nth-child(1) {
          &:hover {
            &:after {
              width: calc(100% - 10px);
            }
          }
        }
        &:nth-child(6) {
          &:hover {
            &:after {
              width: calc(100% - 10px);
            }
          }
        }

      }

    }
  }

}
@media (max-width: 1190px) {
  .menu {
    .menu__list	{
      column-gap: 10px;
      .menu__item {
        &:hover {
          &:after {
            visibility: visible;
            width: calc(100% - 10px);

          }
        }

        &:nth-child(1) {
          &:hover {
            &:after {
              width: calc(100% - 5px);
            }
          }
        }
        &:nth-child(6) {
          &:hover {
            &:after {
              width: calc(100% - 5px);
            }
          }
        }

      }

    }
  }
}
@media (max-width: 970px) {
  .menu {
    .menu__toggle {
      display: block;
    }
  }
}
@media (max-width: 360px) {

}