@import './greenCardForm-section.scss';
@import "../common_styles/advantage-section.scss";
@import '../common_styles/banner.scss';
@import "../plugins/slider.scss";
@import "../common_styles/documents-section.scss";
@import "../common_styles/reviews-section.scss";
@import "../common_styles/questions-section.scss";
@import '../plugins/swiper.scss';

.slider-section {
	padding-top: 103px;
}