.green-card-section {
	display: flex;
  background-color: #F1F6FE;
  justify-content: center;
	.container{
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 45px;
		.green-card-form {
			display: grid;
      grid-template-columns: auto auto;
      grid-auto-rows: auto;
      justify-items: center;
      grid-template-areas:
              "A A"
              "B B"
              "C C";
      padding: 50px 30px;
			align-items: center;
			margin: 0 auto;
			.green-card__title {
				grid-area: A;
			}
			.form-inputs-container {
				grid-area: B;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
				padding: 40px 0;
				.form-inp__container {
					width: 317px;
					box-sizing: content-box;
					padding-right: 30px;
					&:last-child {
						padding-right: 0;
					}
				}
				
			}
			.form__inp-submit {
				grid-area: C;
				margin:0;
			}
		}

		@media (max-width: 1140px) {
			.green-card-form {
				.form-inputs-container {
					padding: 27px 0 13px 0;
					.form-inp__container {
						padding-bottom: 22px;
					}
				}
			}
		}

		@media (max-width: 768px) {
			padding: 0;

			.green-card-form {
				padding: 38px 15px 5px 15px;

				.form-inputs-container {

						.form-inp__container {
						padding-right: 0;
						width: 328px;
					}
				}
			}
		}
	}

}

@import'../common_styles/forms_style.scss';
