@import './greenCardForm-section.scss';
@import "../common_styles/advantage-section.scss";
@import '../common_styles/banner.scss';
@import "../plugins/slider.scss";
@import "../common_styles/documents-section.scss";
@import "../common_styles/reviews-section.scss";
@import "../common_styles/questions-section.scss";
@import '../plugins/swiper.scss';

.slider-section {
	padding-top: 103px;
}
.banner-section {
	padding-top: 72px;
	.container {
  		padding: 0;
	}
}
@media (max-width: 768px){
  .documents-section {
    padding-top: 74px;
  }
}