.offer-card-section {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #F1F7FE;
  padding-top: 62px;
  padding-bottom: 58px;
  overflow: hidden;
  .offer-card{
    background-color: #FFFFFF;
    color: #001237;
    padding: 30px 0 28px 0;
    border-radius: 10px;

    .offer-card__title {
      font-family: 'Proxima Nova Bold',sans-serif;
      font-size: 2.9rem;
      line-height: 3.3rem;
      padding-bottom: 26px;
      padding-left: 41px;
      border-bottom: 1px solid #CFDAE2;
    }
    .offer-card__info-container{
      display: flex;
      justify-content: space-between;
      padding-left: 41px;
      padding-right: 40px;
      padding-top: 33px;

      .offer-card__info{
        display: flex;
        justify-content: space-between;
        padding-right: 208px;
        flex-grow: 1;
        .offer-card__info-item{
          padding-top: 4px;
          .info-item__title{
            font-family: 'Montserrat Regular', sans-serif;
            color: #263238;
            font-size: 0.9rem;
            line-height: 1.25rem;
          }

          .info-item__desc{
            font-family: 'Montserrat Bold',sans-serif;
            font-size: 1rem;
            line-height: 1.9rem;
          }
        }
      }
      .offer-card__info-button {
        width: 245px;
        height: 60px;
        background: transparent;
        border: 2px solid #2155CF;
        border-radius: 50px;
        font-size: 1rem;
        line-height: 1rem;
        text-transform: uppercase;
        color: #2155CF;
        cursor: pointer;

        &:hover {
          background-color: #2155CF;
          color: #FFFFFF;

          .info-button__icon{
            fill: #FFFFFF;
          }
        }
        .info-button__icon {
          vertical-align: top;
          margin-right: 6px;
        }
      }
    }
  }
}
@media (max-width: 1350px) {
  .offer-card-section {
    .offer-card{

      .offer-card__title {
        font-size: 2.5rem;
        padding-left: 21px;
      }
  .offer-card__info-container{

    .offer-card__info{
      padding-right: 120px;

    }
  }

    }
  }
}
@media (max-width: 1150px) {
  .offer-card-section {
    .offer-card{
      .offer-card__title {
        text-align: center;
        font-size: 2.1rem;
        padding-left: 24px;
      }
      .offer-card__info-container {
        flex-direction: column;
        padding-left: 24px;
        padding-right: 20px;
        padding-top: 24px;
        .offer-card__info{
          padding: 0 0 20px 0;
          flex-flow: wrap;
        }
        .offer-card__info-button {
          width: 200px;
          height: 50px;
          margin: 0 auto;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .offer-card-section {
    .offer-card{
      .offer-card__info-container{
        .offer-card__info{
          flex-direction: column;
          padding: 0 0 20px 0;
          .offer-card__info-item{
            padding: 0 0 18px 0;
          }
        }
      }
    }
  }
}