.offer-filter-section {
  display: flex;
  justify-content: center;
  .container {
    display: block;
  }
  .offer-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;


    .offer-filter__description {
      padding-top: 27px;
      padding-bottom: 40px;
      padding-right: 15px;
      flex-shrink: 2;

      .offer-filter__title {
        font-family: 'Montserrat Regular', sans-serif;
        line-height: 2.3rem;
        font-size: 0.87rem;
      }

      .offer-filter__results-counter {
        font-family: 'Proxima Nova Bold', sans-serif;
        font-size: 1.9rem;
        line-height: 1.3rem;
        padding-top: 17px;
      }
    }


    .offer-filter__buttons {
      width: 550px;

      .offer-filter__button {
        display: none;

        &:checked + .offer-filter__label {
          background: rgba(33, 85, 207, 0.09);
          font-family: 'Montserrat SemiBold', sans-serif;
          color: #001237;
        }
      }

      .offer-filter__label {
        display: flex;
        justify-content: center;
        height: 46px;
        align-items: center;
        font-family: 'Montserrat Regular', sans-serif;
        font-size: 1rem;
        color: #7E8595;
        border: 1px solid #D7E1E9;
        float: left;
        cursor: pointer;
        user-select: none;

        &:hover {
          color: #001237;
        }

        &:nth-child(2) {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          border-right: none;
          width: 33.5%;

        }

        &:nth-child(4) {
          border-radius: 0;
          width: 33%;

        }

        &:nth-child(6) {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          border-left: none;
          width: 33%;
        }
      }

    }

  }
    @media (max-width: 1060px) {
      .offer-filter {
        flex-flow: column;
        align-items: start;
        padding-left: 21px;
        padding-bottom: 20px;
        .offer-filter__buttons {
          width: 100%;
          padding-bottom: 20px;
          text-align: center;
          .offer-filter__label {
            font-size: 12px;
          }
        }
      }
    }
}
