.offers-list-section {
  padding-top: 80px;
  padding-bottom: 61px;
  background-color: #F1F7FE;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .container {
    display: block;
  }

  .offers-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 38px 40px 54px;
    font-family: 'Montserrat Regular', sans-serif;
    box-shadow: 0px 4px 46px rgba(123, 139, 181, 0.22);
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 120px;


    .offers-item__name {
      font-size: 0.9rem;
      overflow: hidden;
    }


    .item-rating, .item-franchise, .item-price {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .item-rating {
      padding-left: 58px;


      .item-rating__status {
        color: #F7941E;
      }
    }


    .item-price {
      color: #263238;
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 1.1rem;
      line-height: 1.3rem;
      padding-top: 19px;



      .item-price__current {
      }

      .item-price__old {
        position: relative;
        opacity: 0.5;

        &:before {
          position: absolute;
          content: "";
          height: 2px;
          width: 100%;
          background-color: #AEAEAE;
          bottom: 12px;
          transform: rotate(-8.24deg);
        }
      }
    }

    .item__button {
      width: 12.3%;
      height: 44px;
      padding: 0;
      background-color: #FF9504;
      border-radius: 50px;
      color: #FFFFFF;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: #E28300;
      }
    }
    .title {
      display: none;
      font-family: "Proxima Nova Bold",sans-serif;
      font-size: 12px;
      padding-bottom: 4px;
      float: left;
      font-weight: normal;
      line-height: 1;
      color: #001237;
      opacity: 0.5;
    }

  }

  @media (max-width: 1350px) {
    .offers-item {
      padding: 60px 28px 40px 44px;
      margin-bottom: 20px;
      font-size: .9rem;

      .offers-item__logo {
        width: 120px;
        height: 30px;
      }

      .item-price {
        font-size: 1rem;
        padding-bottom: 23px;
      }

      .offers-item__name {
        font-size: 0.9rem;
      }

      .item-rating {
        padding-left: 10px;
      }
    }
  }
  @media (max-width: 1180px) {
    .offers-item {
      padding: 30px 10px 20px 25px;
      margin-bottom: 20px;
      font-size: .8rem;

      .offers-item__logo {
        width: 110px;
        height: 30px;
      }

      .item-price {
        font-size: .9rem;
      }

      .offers-item__name {
        font-size: 0.9rem;
      }

      .item-rating {
        padding-left: 5px;
        right: 5px;
      }

    }
  }
  @media (max-width: 768px) {
    .offers-item {
      display: grid;
      height: 305px;
      padding: 27px 25px 32px 25px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "A  B " "C  C " "D  E " "F  F ";
      justify-items: center;
      margin-bottom: 20px;
      font-size: 1.1rem;
      font-family: 'Proxima Nova Bold', sans-serif;

      .offers-item__logo {
        width: 100%;
        height: auto;
        grid-area: A;
      }
      .item-rating, .item-franchise, .item-price {
        text-align: start;
      }
      .item-price {
        grid-area: E;
        padding: 0;
        font-size: 1.13rem;

        .item-price__old {
          display: none;
        }
      }

      .item-franchise {
        grid-area: D;
      }

      .offers-item__name {
        grid-area: C;
        font-size: 1rem;

      }

      .item-rating {
        grid-area: B;
        right: 5px;
        font-weight: 700;
      }

      .item__button {
        grid-area: F;
        width: 277px;

      }
      .title {
        display: block;
      }

    }
  }
  @media (max-width: 480px) {
    .offers-item {
      padding: 27px 25px 32px 25px;

      justify-items: start;

      .item-rating, .item-franchise, .item-price {
        text-align: start;
      }
      .item-price {
        .item-price__old {
          display: none;
        }
      }

      .item-franchise {
        grid-area: D;
      }



      .item-rating {
        font-weight: 700;
      }
    }
  }
}