.osago-section {
	display: flex;
  background-color: #F1F6FE;
  justify-content: center;
	.container{
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 60px;
		
		.osago-form {
			display: grid;
      grid-template-columns: auto auto;
      grid-auto-row: 5;
      justify-items: center;
      grid-template-areas:
              "A A"
              "B B"
              "C C"
              "D D"
              "E E";
      padding: 50px 30px;
			align-items: center;
			margin: 0 auto;
			.osago__title {
				grid-area: A;
			}

			.osago-filter__buttons {
      	width: fit-content;
      	padding-top: 39px;
      	grid-area: B;
      	.osago-filter__button {
        	display: none;

        	&:checked + .osago-filter__label {
          	background: rgba(33, 85, 207, 0.09);
          	font-family: 'Montserrat SemiBold', sans-serif;
          	color: #001237;
        	}
      	}

      	.osago-filter__label {
        	display: flex;
        	justify-content: center;
        	width: 221px;
        	height: 46px;
        	align-items: center;
        	font-family: 'Montserrat Regular', sans-serif;
        	font-size: 1rem;
        	color: #7E8595;
        	border: 1px solid #D7E1E9;
        	float: left;
        	cursor: pointer;
        	user-select: none;
        	border-top-left-radius: 6px;
        	border-bottom-left-radius: 6px;
        	&:hover {
          	color: #001237;
        	}
        	&:nth-child(4) {
        		border-radius: 0;
        		border-left: none;
        		border-right: none;
        	}
        	&:last-child {
        		border-top-left-radius: 0;
        		border-bottom-left-radius: 0;
        		border-top-right-radius: 6px;
        		border-bottom-right-radius: 6px;
        	}
        	@media (max-width: 768px) {
      			width: 109px;
      			font-size: .75rem;
      		}
      	}
      	// @media (max-width: 560px) {
      	// 	padding-top: 32px;
      	// }     
    	}
			.form-inputs-row1,
			.form-inputs-row2 {
				grid-area: C;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				column-gap: 30px;
				width: 100%;
				.form-inp__container {
					width: 317px;
					box-sizing: content-box;
					.inp {
						width: 100%;
					}
				}		
			}
			.form-inputs-row1, {
					padding-top: 32px;
			}

			.form-inputs-row2 {
				grid-area: D;
				padding: 27px 0 40px 0;
				.form-inp__container {
						flex-direction: row;
						flex-wrap: wrap;

						.inp-title {
  						flex: 0 70%;
						}
						.checkbox__container {
							flex: 0 30%;
							padding-bottom: 6px;
						}
				}
			}
			.form__inp-submit {
				grid-area: E;
				margin:0;
			}
		}

		@media (max-width: 1140px) {
			.osago-form {
				.form-inputs-row2 {
					padding: 40px 0 13px 0;
					.form-inp__container {
						flex: 0;
						width: fit-content;
						padding-bottom: 24px;

						.osago__place-inp {
							width: 328px;
						}
						.osago__term-inp, .osago__privileges-inp {
							width: 156px;
						}
					}
				}
				.form-inputs-row1 {
					padding-bottom: 0;
					.form-inp__container {
						padding-bottom: 24px;
						width: fit-content;

						.osago__type-inp {
							width: 328px;
						}
						.osago-engine-inp,.osago-exp-inp {
							width: 156px;
						}
					}
				}
			}
		}

		@media (max-width: 768px) {

			.osago-form {
				padding: 44px 15px 0 15px;
				.osago-filter__buttons {
					padding-top: 32px;
				}
				.form-inputs-row2 {
					justify-content: center;

					padding: 0px 0 8px 0;
					.form-inp__container {
						.osago__term-inp, .osago__privileges-inp {
							width: 328px;
						}
						.checkbox__container {
							flex: 0 44%;
							padding-left: 26px;
							padding-top: 14px;
							padding-bottom: 14px;
							justify-content: start;
						}
					}
				}
				.form-inputs-row1 {
					padding-bottom: 0;
					padding-top: 32px;
    			column-gap: 16px;
					.form-inp__container {
						padding-right: 0;
						&:nth-child(2),
						&:nth-child(3) {
							flex: 0 40%;
							align-items: center;
						}
					}
				}
			}
		}

		@media (max-width: 360px) {
			padding: 0;

			.osago-form {
				.form-inputs-row1 {
	
					.form-inp__container {
						&:nth-child(2),
						&:nth-child(3) {
							align-items: start;
						}
					}
				}
			}
		}
	}
}
@import'../common_styles/forms_style.scss';

