.tourism-section {
  display: flex;
  background-color: #F1F6FE;
  justify-content: center;
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
  flex-direction: column;
    .tourism-form {
      display: grid;
      grid-template-columns: auto auto;
      grid-auto-row: 4;
      justify-items: center;
      grid-template-areas:
              "A A"
              "B C"
              "D D"
              "E E";
      padding: 50px 30px;
      margin: 0 auto;
      .tourism-form__title {
        grid-area: A;
        padding-bottom: 40px;
        text-align: center;
      }
      .form-inp__container {
        grid-area: B;
        .tourism__direction-inp {
          width: 554px;
        }
        .direction-examples {
          font-family: 'Proxima Nova Bold',sans-serif;
          padding-top: 12px;
          .direction-example__title {
            font-size: .9rem;
            line-height: 1.3rem;
            color: #8D94A4;
          }
          .direction-example {
            font-size: .8rem;
            text-decoration-line: underline;
            color: #2155CF;
          }
        }
      }
      .dates-inp__container {
        grid-area: C;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        align-content: flex-start;
        justify-content: space-between;
        padding-left: 30px;
        
        .form-inp__container {
          display: flex;
          flex-direction: row;
          width: fit-content;
          align-items: center;
        }
        .date-notes {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .dates__period {
            font-size: .8rem;
            color: #2155CF;
          }
        }
        .date-inp__title {
          padding-right: 8px;
          font-size: .9rem;
          line-height: 1.3rem;
          color: #8D94A4;
        }
          .date-from__inp,
          .date-until__inp {
            width: 174px;
            box-sizing: border-box;
            padding-left: 15px;
        }
      }
      .tourists-list {
        grid-area: D;
        width: 100%;
        .tourists-list__title {
          text-align: center;
          font-style: normal;
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 1.3rem;
          color: #001237;
          padding: 32px 0 24px 0;
        }
        .tourist-data__card {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 24px 30px 32px 30px;
          background: #F8FBFE;
          border: 1px dashed #DEE5EC;
          border-radius: 12px;
          .tourist-data__card-title {
            width: 100%;
            font-size: .9rem;
            line-height: 1rem;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            padding-bottom: 8px;
            color: #94A1AF;
          }
          .tourist__birth-inp {
            width: 200px;
          }
          .tourist__purpose-inp {
            width: 721px;
          }
        }
      }
      .form__btns {
        grid-area: E;
        padding-top: 32px;
        .add-tourist__btn {
          display: flex;
          justify-content: space-between;
          width: 171px;
          padding: 0;
          margin: 0 auto;
          background-color: #ffffff;
          cursor: pointer;
          transition: .3s;
          .add-tourist__btn-icon {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #2155cf;
            font-family: serif;
            color: #fff;
            font-weight: 700;
            font-size: 1.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .add-tourist__btn-text {
            font-size: .85rem;
            line-height: 1rem;
            font-weight: 400;
            color: #001237;
          }
          &:hover {
            transform: scale(1.2);
            transition: .3s;

          }
        }
      }
    }
  }
  @media (max-width: 1140px) {
    .container {
      padding-top: 25px;
      padding-bottom: 25px;
      .tourism-form {
        grid-auto-row: 5;
        grid-template-areas:
                          "A A"
                          "B B"
                          "C C"
                          "D D"
                          "E E";
        padding: 30px 15px;
  
        .dates-inp__container {
          padding-top: 25px;
          
          .date-from__inp,
          .date-until__inp {
            width: 200px;
          }
        }
        .tourists-list {
          .tourist-data__card {
            .tourist__birth-inp {
              width: 200px;
            }

            .tourist__purpose-inp {
            width: 521px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      padding: 0;
    .tourism-form {
      padding: 25px 15px;

      .form-inp__container {
        width: 100%;
        .tourism__direction-inp {
          width: 100%;
        }
      }
      
      .dates-inp__container {
        padding-top: 25px;
        padding-left: 0;

        .form-inp__container {
          flex-direction:column;
          align-items: start;
        }

      }
      .tourists-list {
        .tourist-data__card {
          border-radius: 5px;
          padding: 24px 15px 32px 15px;
          .form-inp__container {
            .tourist__birth-inp {
              width: 328px;
            }

            .tourist__purpose-inp {
              width: 328px;
            }
        }
          
        }
      }
     }
    }
  }
  @media (max-width: 560px) {
    .container {
    width: 100%;
    .tourism-form {
      padding: 25px 15px;
      overflow: hidden;

      .tourism-inp__container {
        width: 100%;
        .tourism__direction-inp {
          width: 100%;
        }
      }
      
      .dates-inp__container {
        padding-top: 25px;
        padding-left: 0;

        .tourism-inp__container {
          flex-direction:column;
          align-items: start;
        }

          .date-from__inp,
          .date-until__inp {
            width: 156px;
        }
      }
      .tourists-list {
        width: calc(100% + 30px);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .tourist-data__card {

          border-radius: 0;
          padding: 24px 15px 10px 15px;
          .tourist-data__card-title {
            padding-bottom: 11px;
          }
          
        }
      }
      .form__btns {
        padding-top: 24px;  
      }
     }
    }
  }
}
@import '../plugins/air-datepicker';
@import'./forms_style.scss';