section.form-section {
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    .tourism-form {
      display: grid;
      font-family: 'Proxima Nova Bold',sans-serif;
      grid-template-columns: auto auto;
      grid-auto-right: 4;
      justify-items: center;
      grid-template-areas:
              "A A"
              "B C"
              "D D"
              "E E";
      background: #FFFFFF;
      box-shadow: 0 4px 32px rgba(123, 139, 181, 0.2);
      border-radius: 10px;
      padding: 50px 30px;
      input[type="date"] {
        position: relative;
      }

      .tourism-form__title {
        grid-area: A;
        padding-bottom: 40px;
      }
      .tourism-inp__container {
        display: flex;
        flex-direction: column;
      }
      .tourism-inp__container {
        grid-area: B;
        .tourism__direction-inp {
          width: 554px;
        }
        .direction-examples {
          font-family: 'Proxima Nova Bold',sans-serif;
          .direction-example__title {
            font-size: .9rem;
            line-height: 1.3rem;
            color: #8D94A4;
          }
          .direction-example {
            font-size: .8rem;
            text-decoration-line: underline;
            color: #2155CF;
          }
        }
      }
      .dates-inp__container {
        grid-area: C;
        .tourism-inp__container {
          display: flex;
          flex-direction: row;
        }
        .date-notes {
          display: flex;
          justify-content: space-between;
          padding-left: 30px;
          padding-bottom: 6px;

          .dates__period {
            font-size: .8rem;
            color: #2155CF;
          }
        }
        .date-inp__title {
          padding-left: 30px;
          padding-right: 8px;
          font-size: .9rem;
          line-height: 1.3rem;
          color: #8D94A4;
        }
          .date-from__inp,
          .date-until__inp {
            width: 174px;
            box-sizing: border-box;
            padding-left: 15px;
        }
      }
      .tourists-list {
        grid-area: D;
        width: 100%;
        .tourists-list__title {
          text-align: center;
          font-style: normal;
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 1.3rem;
          color: #001237;
          padding: 32px 0 24px 0;
        }
        .tourist-data__card {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 24px 30px 32px 30px;
          background: #F8FBFE;
          border: 1px dashed #DEE5EC;
          border-radius: 12px;
          .tourist-data__card-title {
            width: 100%;
            font-size: .9rem;
            line-height: 1rem;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            padding-bottom: 8px;
            color: #94A1AF;
          }
          .tourist__birth-inp {
            width: 200px;
          }
          .tourist__purpose-inp {
            width: 721px;
          }
        }
      }
      .form__btns {
        grid-area: E;
        padding-top: 32px;
        .add-tourist__btn {
          display: flex;
          justify-content: space-between;
          width: 171px;
          padding: 0;
          margin: 0 auto;
          background-color: #ffffff;
          cursor: pointer;
          transition: .3s;
          .add-tourist__btn-icon {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #2155cf;
            font-family: serif;
            color: #fff;
            font-weight: 700;
            font-size: 1.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .add-tourist__btn-text {
            font-size: .85rem;
            line-height: 1rem;
            font-weight: 400;
            color: #001237;
          }
          &:hover {
            transform: scale(1.2);
            transition: .3s;

          }
        }
        .tourism-form__inp-submit {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 410px;
          height: 60px;
          margin-top: 24px;
          background: #FF9504;
          border-radius: 50px;
          font-size: 1rem;
          line-height: 1rem;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: #FFFFFF;
          cursor: pointer;
          &:hover {
            background-color: #E28300;
          }
        }
      }
      .arrow {
        position: relative;
        overflow: hidden;
        background: url("../img/icons/arrow.svg") no-repeat calc(100% - 20px);
        cursor: pointer;

        // &:after {

        //   // content: url("../img/icons/arrow.svg");
        //   // position: absolute;
        //   // right: 20px;
        //   // padding: 0 8px;
        //   // pointer-events: none;
        //   // box-sizing: border-box;
        // }
      }
        .open {
        background: url("../img/icons/arrow-up.svg") no-repeat calc(100% - 20px); 

          // &:after {
          //   transform: rotate(180deg);
          // }
      }
    }
  }
}
@import '../plugins/air-datepicker';
