@import './contacts-section.scss';
@import '../common_styles/banner.scss';

.banner-section {
  .container {
    .banner-article__container {
      display: none;
    }
  }
};

@media (min-width: 970px) {
  .banner-section {
    padding-top: 88px;
    padding-bottom: 90px;
  } 
}