.kasko-section {
	display: flex;
  background-color: #F1F6FE;
  justify-content: center;
	.container{
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 45px;
		
		.kasko-form {
			display: grid;
      grid-template-columns: auto auto;
      grid-auto-row: 5;
      justify-items: center;
      grid-template-areas:
              "A A"
              "B B"
              "C C"
              "D D";
      padding: 50px 30px;
			align-items: center;
			margin: 0 auto;
			.kasko__title {
				grid-area: A;
			}
			.form-inputs-row1,
			.form-inputs-row2 {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 100%;
				.form-inp__container {
					box-sizing: content-box;
					padding-right: 30px;
					&:last-child {
						padding-right: 0;
					}
					.inp {
						width: 100%;
					}
				}		
			}
			.form-inputs-row1 {
				padding-top: 40px;
				grid-area: B;
				.form-inp__container {
					width: fit-content;

					.kasko-model-inp,
					.kasko-brand-inp {
						width: 317px;
					}
					.kasko-year-inp,
					.kasko-price-inp {
						width: 140px;
					}
				}
			}
			.form-inputs-row2 {
				grid-area: C;
				padding-top: 32px;
				padding-bottom: 40px;
				.form-inp__container {
						flex-direction: row;
						flex-wrap: wrap;
						width: fit-content;

						.inp-title {
  						flex: 0 70%;
						}
						.radio {
        			display: none;

        			&:checked + .kasko-radio__wrapper {
          			background: rgba(33, 85, 207, 0.09);
          			font-family: 'Montserrat SemiBold', sans-serif;
          			color: #001237;
        			}
      			}

      			.kasko-radio__wrapper {
        			display: flex;
        			justify-content: center;
        			width: fit-content;
        			height: 46px;
        			align-items: center;
        			font-family: 'Montserrat Regular', sans-serif;
        			font-size: 1rem;
        			color: #7E8595;
        			border: 1px solid #D7E1E9;
        			float: left;
        			cursor: pointer;
        			user-select: none;
        			&:hover {
          			color: #001237;
        			}
      			}
				}
				.wear {
					width: 410px;
					.wear-button__first,
					.wear-button__last {
						flex: 0 50%;
					}
					.wear-button__first {
						border-top-left-radius: 6px;
						border-bottom-left-radius: 6px;
					}
					.wear-button__last {
						border-top-right-radius: 6px;
						border-bottom-right-radius: 6px;
						border-left: none;
					}
				}
				.risk {
					width: 267px;
					.risk-button__first,
					.risk-button__second,
					.risk-button__last {
						flex: 0 33%;
					}
					.risk-button__first {
						border-top-left-radius: 6px;
						border-bottom-left-radius: 6px;
					}
					.risk-button__second {
						border-right: none;
						border-left: none;
					}
					.risk-button__last {
						border-top-right-radius: 6px;
						border-bottom-right-radius: 6px;	
					}

				}
				.steal {
					width: 266px;
					.steal-button__first,
					.steal-button__last {
						flex: 0 50%;
					}
					.steal-button__first {
						border-top-left-radius: 6px;
						border-bottom-left-radius: 6px;
					}
					.steal-button__last {
						border-top-right-radius: 6px;
						border-bottom-right-radius: 6px;
						border-left: none;
					}
				}
			}
			.form__inp-submit {
				grid-area: D;
				margin:0;
			}
		}

		@media (max-width: 1140px) {
			.kasko-form {
				.form-inputs-row2 {
					padding: 40px 0 13px 0;
					column-gap: 30px;
					.form-inp__container {
						padding-bottom: 24px;
						padding-right: 0;
					}
				}
				.form-inputs-row1 {
					padding-bottom: 0;
					justify-content: center;
					column-gap: 30px;
					.form-inp__container {
						padding: 0;
						padding-bottom: 24px;
						width: fit-content;
						flex: 0 24%;
						&:nth-child(3),
						&:nth-child(4) {
							align-items: center;
						}
					}
				}
			}
		}

		@media (max-width: 768px) {

			.kasko-form {
				padding: 44px 15px 0 15px;
				.kasko-filter__buttons {
					padding-top: 32px;
				}
				.form-inputs-row2 {
					justify-content: center;

					.form-inp__container {
						padding-right: 0;
						width: 328px;
					}
				}
				.form-inputs-row1 {
					padding-bottom: 0;
					padding-top: 32px;
    			column-gap: 16px;
					justify-content: center;

					.form-inp__container {
						padding-right: 0;
						.kasko-model-inp,
						.kasko-brand-inp {
							width: 328px;
						}
						.kasko-year-inp,
						.kasko-price-inp {
							width: 156px;
						}
						&:nth-child(3),
						&:nth-child(4) {
							flex: 0 40%;
						}
					}
				}
			}
		}

		@media (max-width: 360px) {
			padding: 0;

			.kasko-form {
					padding: 0px 0 8px 0;
				
				.form-inputs-row1 {
	
					.form-inp__container {
						&:nth-child(3),
						&:nth-child(4) {
							align-items: start;
						}
					}
				}
			}
		}
	}
}
@import'../common_styles/forms_style.scss';
