@import './kaskoForm-section.scss';
@import "../common_styles/advantage-section.scss";
@import "./payments-section.scss";
@import "./cases-section.scss";
@import '../common_styles/banner.scss';
@import "../plugins/slider";
@import "../common_styles/documents-section.scss";
@import "../common_styles/reviews-section.scss";
@import "../common_styles/questions-section.scss";
@import '../plugins/swiper';

.advantage-section {
	.container {	
			
		.advantage-list_two {
			display: flex;
			padding-top: 0;
		}
	}
}
.documents-section {
	padding-top: 118px;
}

.banner-section {
	padding-top: 70px;
	.container {
		padding: 0;
	}
}

@media (min-width: 970px) {
 .banner-section {
 	padding-bottom: 56px;
  .container {
    .banner-article__container {
    	.banner-article__title {
    		padding-top: 25px;
    	}
    }
  }
 }
}