@import './kaskoForm-section.scss';
@import "../common_styles/advantage-section.scss";
@import "./payments-section.scss";
@import "./cases-section.scss";
@import '../common_styles/banner.scss';
@import "../plugins/slider";
@import "../common_styles/documents-section.scss";
@import "../common_styles/reviews-section.scss";
@import "../common_styles/questions-section.scss";
@import '../plugins/swiper';

.advantage-section {
	.container {	
			
		.advantage-list_two {
			display: flex;
		}
	}
}