@import './description-section.scss';
@import './types-section.scss';
@import '../common_styles/banner.scss';
@import "../plugins/slider.scss";
@import "../common_styles/reviews-section.scss";
@import "../common_styles/questions-section.scss";
@import '../plugins/swiper';
.banner-section {
  padding-top: 72px;
  padding-bottom: 60px;
   .container {
    padding: 0;
  }
} 