.about-section {
  padding-top: 42px;
  padding-bottom: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .container {
    .about {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #001237;
      .about-img_container {
        order: 2;
        display: flex;

        .about-img {
          width: 100%;
          height: auto;
          overflow: hidden;
        }
      }
      .about-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        .about-description__title {
          font-family: "Proxima Nova Bold",sans-serif;
          font-size: 2rem;
          line-height: 2rem;
          padding-bottom: 16px;
        }
        .about-description__text {
          font-family: "Proxima Nova Regular",sans-serif;
          opacity: 0.8;
          font-size: 1rem;
          line-height: 1.5rem;
          padding-bottom: 35px;
        }
      }
    }
  }
}
@media (min-width: 970px) {
  .about-section {
    padding-top: 80px;
    .container {
      padding: 0;
      .about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .about-img {
          order: 1;
          height: auto;
        }
        .about-description {
          width: 750px;
          padding-right: 20px;
          padding-top: 71px;
          .about-description__title {
            padding-bottom: 31px;
            text-align: left;
            font-size: 3rem;
          }
          .about-description__text {
            font-size: 1.1rem;
            line-height: 1.75rem;
          }
        }
      }
    }
  }
}
