section.questions-section {
  .container {
    overflow: visible;
    .questions-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding: 30px 15px 40px 15px;
      .questions-section__title.section-title {
        padding-bottom: 44px;
      }
      .questions-list {
        width: 100%;
        font-family: "Proxima Nova Bold",sans-serif;
        box-shadow: 0px 4px 46px rgba(161, 168, 188, 0.22);
        border-radius: 8px;
        overflow: auto;

          .question {
            .question-dropdown {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 96px;
              padding-left: 40px;
              padding-right: 32px;
              border-top: 1px solid #D7E1E9;
              border-bottom: 1px solid #D7E1E9;
              cursor: pointer;
              .question-dropdown__title {
                font-size: 1.4rem;
                color: #1A1B20;
              }
              .question-dropdown__btn {
                position: relative;
                display: flex;
                align-items: center;
                background-color: #ffff;
                width: 32px;
                height: 32px;
                border: 1px solid #D7E1E9;
                border-radius: 50%;
                cursor: pointer;
                position: relative;
                &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 2px;
                  height: 9px;
                  background-color: #2155CF;
                  transform: rotate(45deg);
                  right: 11px;
                }
                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 2px;
                  height: 9px;
                  background-color: #2155CF;
                  transform: rotate(-45deg);
                  left: 11px;

                }
              }
            }
            &:first-child {
              .question-dropdown {
                border-top: 0;
              }
            }
            &:last-child {
              .question-dropdown {
                border-bottom: 0;
              }
            }
            .question__description__container {
              font-family: "Proxima Nova Regular",sans-serif;
              width: 90%;
              height: 0;
              display: none;
              overflow-y: auto;
              transition: all 8s ease-out .3s;

              .question__description {
                color: #000000;
                opacity: 0.8;
                font-size: 1rem;
                line-height: 1.2rem;
                font-weight: 400;
                padding-bottom: 8px;
              }
              .description-item {
                padding-top: 16px;
                display: flex;
                align-items: center;
                .description-item__text {
                  font-size: 1.2rem;
                  line-height: 1.3rem;
                  font-weight: 600;
                  padding-left: 12px;
                }
              }
            }
          }
          .open {
            background-color: #F8FBFE;
            border-left: 4px solid #2155CF;
            .question-dropdown {
              .question-dropdown__title {
                font-size: 1.4rem;
                color: #2155CF;
              }
              .question-dropdown__btn {
                transform: rotate(180deg);
                background-color: #2155CF;
                &:before,&:after {
                  background-color: #F3F4F5;
                }
              }
            }
            .question__description__container {
              display: block;
              height: auto;
              padding: 34px 32px 40px 40px;
              transition: all .3s ease-out .3s;

            }

          }
      }
    }
  }
}
